/*
-	website-8 "Entity Code"
-	CopyRight https://github.com/MayankDevil/ 
-	Developed and Desgin by Mayank
-	CSS : ./css/style.css
*/
*
{
	user-select: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	border: none;
	outline: none;
	box-sizing: border-box;
}
/* default color theme */
.light_theme
{
	--black:#222f3e;
	--gray:#7f8fa6;
	--yellow:#feca57;
	--orange:#ff9f43;
	--white:#ecf0f1;
	--light:#fff;
}
/* light color theme */
:root
{
	--white:#222f3e;
	--gray:#7f8fa6;
	--orange:#feca57;
	--yellow:#222f3e;
	--orange:#ff9f43;
	--black:#ecf0f1;
	--light:#fff;
}
::-webkit-scrollbar
{
	width: 10px;
	background: transparent;
}
::-webkit-scrollbar-thumb
{
	background:var(--orange);
	border-radius: 10px;
}
::marker
{
	color:var(--black);
}
/*
	MAIN CSS ----------------------------------
*/
body
{
	color: var(--orange);
	overflow: hidden;
	overflow-y: auto;
	background: var(--black);
	scroll-behavior: smooth;
}
main
{
	width: 80%;
	height: auto;
	margin: 0 auto;
}
/*
	HEADER CSSS -------------------------------
*/
header
{
	padding-top: 3rem;
	display: flex;
	/* min-height: 60vh; */
}
.left
{
	writing-mode: vertical-lr;
}
h1
{
	padding:1rem;
	font-size:5rem;
	font-weight:normal;
	color:var(--white);
}
.right
{
	padding-left: 1rem;
}
h2
{
	padding:2rem;
	font-weight: bolder;
	font-size: 3rem;
	color: var(--gray) ;
}
h4
{
	padding:2rem;
	line-height:2rem;
	font-size:1.2rem;
	font-weight: normal;
	color:var(--yellow);
}
p
{
	font-size:medium;
	color: var(--white);	
}
b
{
	font-weight:bold;
	color:var(--white);
}
#theme_btn
{
	margin: 1rem 2rem;
	color:var(--orange);
	background: transparent;
	border: 2px outset var(--yellow);
}
#theme_btn:hover
{
	border-style: inset;
}
/* 
	popup ---------------------------
*/
/* Popup overlay */
#popupDialog {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex; justify-content: center; align-items: center;
    z-index: 2000;
}

/* Popup box */
#popupDialog .text {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    max-width: 350px;
    text-align: center;
    position: relative;
    font-size: 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Close button */
#popupDialog #close_btn {
    cursor: pointer;	
	margin: 1rem 2rem;
	padding: 0.5rem 2rem;
	font-size: medium;
	color:var(--orange);
	background: var(--yellow);
	border-radius: 5px;
}

/*
	ASIDE CSS ----------------------------
*/
aside
{
	display: grid;
	grid-gap: 1rem;
	width: 40px;
	position: fixed;
	top:20vh;
	left:0;
}
.media
{
	background: var(--orange);
	border-radius: 0 5px 5px 0;
}
.media:hover
{
	background:var(--yellow);
	transform: scale(1.2);
}
.icon
{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
/*
	FOOTER CSSS --------------------------------
*/
footer
{
	padding: 2rem 1rem;
	color:var(--white);
	text-align: center;
	font-size: 1.2rem;
	border: 2px solid var(--gray);
	border-radius: 5rem 5rem 0 0;
}
footer > a
{
	display: inline-block;
	line-height: 25px;
	color:#fefefe;
	font-weight: bold;
	color:#ff9f43;
}
/*
	DEATILS CSS --------------------------------
*/
details
{
	margin: 2rem auto;
	width: 100%;
	color:var(--black);
}
summary
{
	padding: 1rem;
	/* list-style: ; */
	font-weight: bold;
	background:var(--yellow);
}
section
{
	margin: 1rem auto;
	font-size: 1rem;
}
section div
{
	padding: 1rem;
	color: var(--white);
}
/*
	CONTENT CSS ----------------------------------
*/
#container_Set
{
	padding-top: 3vh;
}
#note
{
	padding:3rem 0;
}
.btn
{
	display: inline-block;
    margin:3rem auto;
	padding: 0.5rem 1rem;
	font-size:1rem;
	font-weight:bold;
	color:var(--black);
	background: var(--orange);
	border-radius: 5px;
}
.btn:hover
{
	background: var(--yellow);
}
/*
	MATH | RELATION | MONEY | GAME CSS
*/
#container_Set :is(#math , #relation, #money, #game) section
{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
#container_Set :is(#math , #relation, #money) section div
{
	border:1px solid var(--gray);
}
/*
	GRAPHIC | WORK CSS
*/
#container_Set :is(#work , #graphic, #hindi, #linear, #fr, #opf, #scr) section
{
	text-align: center;
	font-size: 1.5rem;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}
#container_Set :is(#work, #hindi, #linear, #fr, #opf) section div:hover
{
	color:var(--orange);
	cursor:copy;
}
/*
	MORE LIST CSS ===================================
*/
#nav
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
#nav .fld
{
	min-width: 500px;
	padding: 10px;
	margin-right: 1rem;
	background: transparent;
	border: 1px solid var(--orange);
	border-radius: 10px;
}
.group
{
	padding: 10px 20px;
	font-size: medium;
	font-weight: bold;
	color:var(--white);
	background: var(--light);
	border-radius: 10px;
}
.group a
{
	color:var(--orange);
}
#more section
{
	padding:2rem 0;
	display: grid;
	grid-template-columns: repeat(10 ,1fr);
}
#more div
{
	padding:1rem;
	text-align: center;
	font-weight: bolder;
	font-size:1rem;
	color:var(--gray);
	border:1px solid var(--gray);
}
#more div:hover
{
	color:var(--yellow);
	background: var(--black);
}
/*
	------------------
	| RESPONSIVE CSS | ==============================
	------------------
*/
@media (max-width: 1200px)
{
	/* .... */
}
/*
    992PX SCREEN CSS ---------------------------------
*/
@media (max-width: 992px)
{
	/* GRAPHIC WORK */
	#container_Set :is(#work , #graphic, #hindi, #linear, #fr, #opf, #scr) section, #more
	{
		grid-template-columns: repeat(6, 1fr);
	}
}
/*
    768PX SCREEN CSS --------------------------------
*/
@media (max-width: 768px)
{
	/* MAIN */
	body
	{
		position: relative;
	}
	main
	{
		width: 90%;
	}
	/* HEADER */
	header
	{
		display: grid;
	}
	.left
	{
		writing-mode: horizontal-tb;
	}
	h1
	{
		padding: 1rem;
	}
	/* ASIDE */
	aside
	{
		grid-template-columns: repeat(4,30px);
		position: static;
		margin:1rem 4rem;
	}
	.media
	{
		background: var(--orange);
		border-radius: 5px;
	}
	/* MATH | RELATION | MONEY | GAME */
	#container_Set :is(#math , #relation, #money, #game) section
	{
		grid-template-columns: repeat(3, 1fr);
	}
}
/*
    576PX SCREEN CSS -------------------------------
*/
@media (max-width: 576px)
{
	/* HEADER */
	header
	{
		padding-top: 0;
	}
	h1
	{
		font-size: 3rem;
	}
	h2
	{
		font-size: 2rem;
	}
	h4, h2, h1
	{
		padding:2rem 1rem;
	}
	#front_btn
	{
		margin:1rem;
	}
	/* ASIDE */
	aside
	{
		margin:1.5rem;
	}
	.right
	{
		padding:0;
	}
	/* GRAPHIC | WORK */
	#container_Set :is(#work , #graphic, #hindi, #linear, #fr, #opf, #scr) section, #more
	{
		grid-template-columns: repeat(4,1fr);
	}
	/* FOOTER */
	footer
	{
		font-weight: normal;
		border-radius: 2rem 2rem 0 0;
	}
	/* MORECODE */
	#more
	{
		padding:0;
		padding-bottom: 2rem;
	}
}
/*
    300PX SCREEN CSS -----------------------------
*/
@media (max-width: 375px)
{
	/* MAIN */
	main
	{
		width: 95%;
	}
}
/*
	THE END ==================================
*/
